.flower{
    text-emphasis: 1200px;
    background-color:rgb(250, 187, 176);
    margin: 0px;
    padding: 200px 0 165px 200px;
    
    border: 10px;
    font-size: 55px;

}
.button{
        background-color: #ec3b05;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 26px;
}
.banner{
    display: flex;
    background-color:rgb(250, 187, 176); ;

    
}
.flr{
    padding-left: 150px;
    height: 800px;
    width: 635px;
}
.Featured{
    text-align: center;
    padding-top: 100px;
    line-height: 20px;
}
.style{
    height: 428px;
    width: 310px;
    display: flex;
    padding: 25px;
    border: 25px;
    border-radius: 300px 300px 0 0 ;
    gap: 10px;
    object-position: center;    
}
.part3{
    width: 1440px;
height: 220px;
background: rgba(179, 128, 128, 0.692);
margin-top: 215px;
margin-left: 240px;
text-align:center;
display: flex;
justify-content: center;
padding-top: 130px;
border-radius: 10px;

}
.delivery img{
    align-items: center;
}